<div id="backPlate-login" class="d-flex justify-content-center align-items-center">
    <div class="card" id="form">
      <div class="midllecontent">
        <h1 class="ava">Login</h1>
        <div class="InputChave">
            <i class="pi pi-key"></i>
            <label for="email">E-mail</label>
            <input type="email" id="email" class="form-control"  formControlName="email" requiredminlength="5" placeholder="Insira seu e-mail">
        </div>
        <div class="InputChave">
            <i class="pi pi-key"></i>
            <label for="senha">Senha</label>
            <input type="password" id="senha" class="form-control"  formControlName="senha" requiredminlength="8" placeholder="Insira sua senha">
          </div>
      </div>
      <div class="botoes">
        <button pButton (click)="login(usuario.email, usuario.senha)" type="button" label="Entrar" class="btn btn-success"></button>
        <button pButton type="button" (click)="mostrarDialog()" label="Cadastre-se" class="botoes1"></button>
      </div>
    </div>
  </div>
